@import url('https://fonts.googleapis.com/css2?family=Mina&family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Mina', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}

/* Buttons Styles */
.primary-btn{
    height: 50px;
    background-color: #FD6E0A;
    color: #fff;
    transition: all 0.3s ease;
    border-radius: 5px;
    border: 1px solid transparent;
    font-weight: 700px;
    font-size: 20px;

    padding: 10px 20px;
}
.primary-btn:hover{
    background-color: #fff;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
}
.second-primary-btn{
    height: 50px;
    background-color: #fff;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    transition: all 0.3s ease;
    border-radius: 5px;
    font-weight: 700px;
    font-size: 20px;
    padding: 8px 20px;

    margin-left: 10px;
}
.second-primary-btn:hover{
    background-color: #FD6E0A;
    color: #fff;
}
/*  */


/* Header Styles */
#header{
    background: #fff4ec;
    background-image: url(images/header_bg.png),
                      url(images/developer.png)      ;
    background-repeat: no-repeat;
    background-position: bottom right, left;
}



/* Nav & Logo styles */
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 100px 50px 200px;
}
.nav-logo{
    font-weight: 800;
    font-size: 45px;
    color: #181818;
}
.txt-color{
    color: #FD6E0A;
}



/* Nav menu Styles */
#header .menu{
    display: flex;
    list-style-type: none;
    align-items: center;
}
#header .menu li{
    margin-left: 20px;
}
#header .menu li a {
    font-weight: 400;
    font-size: 20px;
    color: #474747;
    padding: 10px 40px;
    border: 0.5px solid #ffebdd;
    border-radius: 5px;

    transition: all 0.3s ease;
}
#header .menu li a:hover{
    background-color: rgba(153, 30, 30, 0.226);
}



/* Header Banner Styles */
#header .header-banner{
    display: flex;
    align-items: center;
    margin: 0 20px 0 200px;
}
#header .header-banner .banner-tittle{
    margin-bottom: 5px;

    font-weight: 600;
    font-size: 35px;
    color: #474747;
}
#header .header-banner .banner-subtittle{
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 65px;
    color: #181818;
}
#header .header-banner .banner-description{
    margin-bottom: 30px;

    font-weight: 400;
    font-size: 15px;
    color: #757575;
}
/*  */


/* Main section styles */
#main{
    max-width: 960px;
    margin: 0 auto;
    margin-top: 130px;
}


/* Aboutme section styles */
.about-me{
    text-align: center;
    background-color: #fff4ec;
    padding: 80px 100px;
    border-radius: 10px;
}
.section-tittle{
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 15px;
    text-align: center;
}
.section-description{
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 15px;
}


#main .about-table{
    margin-left: auto;
    margin-right: auto;
    border-spacing: 10px;
}
#main .about-table .thead{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
#main .about-table .tbody{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}


/* What I Do section styles */
#main .whatido{
    margin-top: 130px;
    text-align: center;
}
#main .whatido h3{
    font-weight: 700;
    font-size: 35px;
    color: #181818;
}


/* Technologies styles */
#main .technologies{
    margin-top: 50px;
    display: flex;
}
#main .technologies .tech{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    margin-right: 25px;
    padding: 30px;
}
#main .technologies .tech:last-child{
    margin-right: none;
}


#main .tech .tech-tittle{
    font-weight: 700;
    font-size: 20px;
    color: #181818;

    margin-top: 15px;
    margin-bottom: 20px;
}
#main .tech .tech-description{
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}


/* Resume styles */
#main .resume-summery{
    margin-top: 130px;
}
#main .resume-summery .resume-alignment{
    display: flex;
    margin-top: 60px;
}
#main .resume-summery hr{
    margin-top: 30px;
    margin-bottom: 30px;
}
#main .resume-summery .resume-education-main{
    margin-right: 24px;
}
#main .resume-summery .resume-education-sub{
    margin-bottom: 30px;
}
#main .resume-summery .resume-tittle{
    font-weight: 700;
    font-size: 30px;
    color: #474747;
    margin-bottom: 20px;
}
#main .resume-summery .resume-subtittle{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
#main .resume-summery .resume-details{
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}
#main .resume-summery .resume-description{
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}
.resume-btn{
    margin-top: 30px;
    text-align: center;
}


/* Footer Styles */
#footer{
    margin-top: 110px;
    background-color: #ffebdd;
}
#footer .footer-width{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: space-evenly;
}

/* Social section styles */
#footer .connect{
    margin-right: 54px;
    width: 50%;
}
#footer .connect h3{
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 20px;
}
#footer .connect .social-links{
    display: flex;
    list-style-type: none;
    margin-top: 30px;
}
#footer .connect .social-links li{
    margin-right: 24px;
}


/* Contact Form styles */
#footer .contact-form input[type="text"], input[type="email"], textarea{
    width: 460px;
    margin-bottom: 20px;
    padding: 15px 20px;
    border: none;
}
#footer .contact-form h3{
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 28px;
}
